---
interface Props {
  currentPath?: string;
}

const { currentPath = "/" } = Astro.props;
---

<header class="site-header">
  <h1><a href="/">plue</a></h1>
  <nav>
    <a href="/" class:list={[{ active: currentPath === "/" }]}>repos</a>
    <a href="/new" class:list={[{ active: currentPath === "/new" }]}>new</a>
  </nav>
</header>
